---
layout: default
---

<head>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
</head>

<div class="header-bar">
  <h1>{{ site.blog_name }}</h1>
  <h2>{{ site.blog_description }}</h2>
</div>


<ul class="post-list">
  {% for post in paginator.posts %}
    {% assign postdate = date: '%Y' | plus: 0 %}
    <script>console.log({{ postdate | json }});</script>
    {% if postdate > 2020 %}
      <li>
        <h2><a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        <p class="post-meta">{{ post.date | date: '%B %-d, %Y — %H:%M' }}</p>
        <p>{{ post.description }}</p>
      </li>
    {% endif %}
  {% endfor %}
</ul>

{% include pagination.html %}
